/* main.css */
/* button based on Dribbble shot by Nikola Popovic https://dribbble.com/shots/2765474-Ghost-Buttons-Animations */
html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 64px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

input {
  margin-bottom: 24px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.4;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.4;
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.4;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.4;
}

a.bttn {
  color: #222;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}

a.bttn:hover {
  color: #FFF;
}

a.bttn:focus {
  color: #FFF;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #222;
  border-radius: 2px;
  position: relative;
}

.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #222;
  z-index: -2;
}

.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#result {
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

/*
@media (min-width: 768px) {} */